{% extends "base.html" %}
{% block title %}Strona główna{% endblock %}
{% block content %}
<div class="container">
  <div class="jumbotron" style="margin-top:25px; text-align:center;">
    <h1>Gra online Domineering</h1> 
    <p>Popularna dwuosobowa gra "pencil and paper", inaczej zwana Crosscram lub Stopgate</p> 
  </div>
  <h2 style="margin-top:70px; text-align:center;">Opis gry</h2>   
  <p style="text-align:center;">Rozgrywka odbywa się na kwadratowej planszy składającej się z kropek. Gracze na zmianę 
  wykonują ruchy łącząc sąsiednie kropki liniami. Pierwszy gracz zawsze rysuje kreski pionowe,
  a drugi gracz poziome. Żadna kropka nie może być połączona więcej niż raz. Pierwszy gracz, który
  nie może wykonać żadnego ruchu - przegrywa.</p> 

  <h2 style="margin-top:50px; text-align:center;">Historia powstania</h2>   
  <p style="text-align:center; margin-bottom:100px;">Gra została stworzona przez Görana Anderssona i zostałą opisana jako Crosscram w 
  "Knotted Doughnuts and other Mathematical Entertainments". Można grać również kostkami domino
  na planszy szachowej, zasłaniając nimi pola - stąd nazwa Domineering.
  
  Dokładną analizę gry możemy przeczytać w "On Numbers and Games" autorstwa Johna Hortona.
  </p>
</div>  
{% endblock %}