{% extends "base.html" %}
{% block title %}Strona główna{% endblock %}
{% block content %}

<div class="container content" style="border-bottom:4px solid white; margin-top:100px;">
    <div class="row">
        <div class="col-md-6 col-md-offset-3" style="background-color:#f7f7f7;">
            <div class="testimonials">
            	<div class="active item" style="margin-top:20px;">
                  <blockquote><p style="text-align:left;">Gracze wykonują ruchy na zmianę - pierwszy gracz (niebieski) wstawia kreski pionowe, drugi gracz (czerwony) - poziome.</p></blockquote>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container content" style="border-bottom:4px solid white;">
    <div class="row">
        <div class="col-md-6 col-md-offset-3" style="background-color:#f7f7f7;">
            <div class="testimonials">
            	<div class="active item" style="margin-top:20px;">
                  <blockquote><p style="text-align:left;">Kropki mogą być połączone tylko raz - do jednej kropki przylega tylko jedna kreska.</p></blockquote>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container content" style="border-bottom:4px solid white;">
    <div class="row">
        <div class="col-md-6 col-md-offset-3" style="background-color:#f7f7f7;">
            <div class="testimonials">
            	<div class="active item" style="margin-top:20px;">
                  <blockquote><p style="text-align:left;">Plansza jest kwadratem, o rozmiarach od 5x5 kropek, do 8x8 kropek.</p></blockquote>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container content" style="border-bottom:4px solid white; margin-bottom:100px;">
    <div class="row">
        <div class="col-md-6 col-md-offset-3" style="background-color:#f7f7f7;">
            <div class="testimonials">
            	<div class="active item" style="margin-top:20px;">
                  <blockquote><p style="text-align:left;">Pierwszy gracz, który nie może wykonać żadnego ruchu - przegrywa.</p></blockquote>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}